<div class="col-md-1"></div>
<div class="col-md-4">
  <div class="box box-primary">
    <div class="box-body box-profile">
      <img class="profile-user-img img-responsive img-circle" src="../../../assets/images/user4-128x128.jpg" alt="User profile picture">

      <h3 class="profile-username text-center">{{user.username}}</h3>

      <p class="text-muted text-center">Software Engineer</p>

      <ul class="list-group list-group-unbordered">
        <li class="list-group-item">
          <b>Email</b> <a class="pull-right">{{user.email}}</a>
        </li>
        <li class="list-group-item">
          <b>Role</b> <a class="pull-right">{{user.role ? 'Admin' : 'User'}}</a>
        </li>
        <li class="list-group-item">
          <b>Date created</b> <a class="pull-right">{{user.created_at | date: 'dd/MM/yyyy'}}</a>
        </li>
      </ul>
    </div>
    <!-- /.box-body -->
  </div>
  <!-- /.box -->
  <div class="box box-info">
    <div class="box-header with-border">
      <h3 class="box-title">Change password</h3>
    </div>
    <!-- /.box-header -->
    <!-- form start -->
    <form class="form-horizontal">
      <div class="box-body">
        <div class="form-group">
          <label for="currentPass" class="col-sm-4 control-label">Current Password</label>

          <div class="col-sm-8">
            <input type="password" class="form-control" id="currentPass" placeholder="Current password">
          </div>
        </div>
        <div class="form-group">
          <label for="newPass" class="col-sm-4 control-label">New Password</label>

          <div class="col-sm-8">
            <input type="password" class="form-control" id="newPass" placeholder="New password">
          </div>
        </div>
        <div class="form-group">
          <label for="retyprPass" class="col-sm-4 control-label">Retype Password</label>

          <div class="col-sm-8">
            <input type="password" class="form-control" id="retyprPass" placeholder="Retype password">
          </div>
        </div>       
      </div>
      <!-- /.box-body -->
      <div class="box-footer">
        <button type="submit" class="btn btn-info pull-right col-sm-2">Save</button>
      </div>
      <!-- /.box-footer -->
    </form>
  </div>
</div>
<div class="col-md-6">
  <div class="box box-primary">
    <div class="box-header with-border">
      <h3 class="box-title">About Me</h3>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
      <strong><i class="fa fa-book margin-r-5"></i> Education</strong>

      <p class="text-muted">
        B.S. in Computer Science from the University of Tennessee at Knoxville
      </p>

      <hr>

      <strong><i class="fa fa-map-marker margin-r-5"></i> Location</strong>

      <p class="text-muted">Malibu, California</p>

      <hr>

      <strong><i class="fa fa-pencil margin-r-5"></i> Skills</strong>

      <p>
        <span class="label label-danger">UI Design</span>
        <span class="label label-success">Coding</span>
        <span class="label label-info">Javascript</span>
        <span class="label label-warning">PHP</span>
        <span class="label label-primary">Node.js</span>
      </p>

      <hr>

      <strong><i class="fa fa-file-text-o margin-r-5"></i> Notes</strong>

      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam fermentum enim neque.</p>
    </div>
    <!-- /.box-body -->
  </div>
</div>
<div class="col-md-1"></div>