<body class="hold-transition login-page">
  <div class="login-box">
    <div class="login-logo">
      <a href="#"><b>Admin</b>LTE</a>
    </div>

    <div class="alert alert-danger" role="alert" *ngIf="message">
      {{ message }}
    </div>

    <!-- /.login-logo -->
    <div class="login-box-body">
      <p class="login-box-msg">Sign in to start your session</p>

      <form (submit)="login(username.value, password.value)" *ngIf="!auth.getUser()">

        <div class="form-group has-feedback">
          <input type="text" class="form-control" #username placeholder="Username" required minlength="5" name="username">
        </div>

        <div class="form-group has-feedback">
          <input type="password" class="form-control" #password placeholder="Password" required minlength="5" name="password">
        </div>
        <div class="row">
          <div class="col-xs-8">
            <div class="icheck">
              <label class="font-light">
                <input type="checkbox" class="icheckbox_square-blue" > Remember Me
              </label>
            </div>
          </div>
          <!-- /.col -->
          <div class="col-xs-4">
            <button type="submit" class="btn btn-primary btn-block btn-flat">Sign In</button>
          </div>
          <!-- /.col -->
        </div>
      </form>

      <div class="social-auth-links text-center">
        <p>- OR -</p>
        <a href="#" class="btn btn-block btn-social btn-facebook btn-flat"><i class="fa fa-facebook"></i> Sign in using
        Facebook</a>
        <a href="#" class="btn btn-block btn-social btn-google btn-flat"><i class="fa fa-google-plus"></i> Sign in using
        Google+</a>
      </div>

      <a href="#">I forgot my password</a><br>
      <a routerLink="/register" class="text-center">Register a new membership</a>

    </div>
    <!-- /.login-box-body -->
  </div>
  <!-- /.login-box -->
</body>
